@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "typewriter";
  src: url("typewriter.otf") format("opentype");
}
@font-face {
  font-family: "typewriterThin";
  src: url("typewriterThin.otf") format("opentype");
}
@font-face {
  font-family: "typewriterBlack";
  src: url("typewriterBlack.otf") format("opentype");
}
@font-face {
  font-family: "typewriterBold";
  src: url("typewriterBold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: bisque;
}
body .container {
  font-family: "typewriterBold";
  /* font-family: "League Spartan"; */
  margin: 5rem;
  width: 40%;
  font-size: 1.5rem;
  text-align: justify;
}

p {
  margin: 2rem 0rem;
}
.oznaczenie {
  /* text-decoration: underline; */
  display: block;
  margin-bottom: 0.5rem;
  font-family: "typewriterThin";
  /* font-family: "League Spartan"; */
}
.skip {
  color: grey;
  font-family: "typewriterThin";
  /* font-family: "League Spartan"; */
}
.hide {
  display: none;
}
